@{
    ViewData["Title"] = "Home Page";
}


        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Free Sale</h1>
                            <span class="subheading">Sell freely everyday.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
<div class="text-center">
    <h1 class="display-4">Vous êtes déconnecté!</h1>
</div>
</div>
