@{
    ViewData["Title"] = "Privacy Policy";
}
<header class="masthead" style="background-image: url('assets/img/contact-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Contact Us</h1>
                            <span class="subheading">Have questions? I have answers.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
<div class="container">
<h1 style="text-align: center">This website was developed in order to pass the test for an internship at Cethia Dschang - Cameroon.</h1>
<div>
    <p style="font-size: 30px">Equipe de développement:</p>
    <h3><li>NGUEWOUO MBAKOP Manick 690868185</li></h3>
</div>
</div>